body {
  font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  margin-right: 100px;
  margin-left: 100px;
  opacity: 2;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid hsl(214, 10%, 87%);
  border-radius: 5px;
  background-image: url(https://th.bing.com/th/id/R.3109e732e6178941e0f720775ea06079?rik=grcVooOCK2FPnQ&riu=http%3a%2f%2fpavbca.com%2fwalldb%2foriginal%2f4%2f9%2fd%2f809487.jpg&ehk=f0tpc6Wtrw9yk3RX70xMeqQw10eCmpRKUWT9AImuQ28%3d&risl=&pid=ImgRaw&r=0);
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.weather-app {
  max-width: 590px;
  margin: 30px 0 auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

li {
  position: relative;
  left: -25px;
}

.date {
  position: relative;
  left: -30px;
  margin-bottom: 20px;
}

.description {
  text-transform: capitalize;
}

.degrees {
  margin-left: 8px;
  font-size: 60px;
  width: 94px;
  align-items: center;
}

.conversion {
  position: relative;
  top: -30px;
  font-weight: bold;
}

h1 {
  display: flex;
  font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
  height: 24px;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
  width: 1236px;
  z-index: 100;
}

.forecast-title,
.current-weather {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.current-weather {
  margin-top: 0 auto;
}

.forecast-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.forecast-high {
  font-weight: bold;
  opacity: 2;
}

.forecast-low {
  opacity: 0.7;
}

button {
  width: 200px;
  height: 200px;
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  width: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 108px;
  text-align: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 6px;
  padding: 0;
}
small {
  margin-left: 110px;
}

a {
  font-weight: bold;
}

.active {
  color: rgb(255, 255, 255);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
